{{>layout/header}}

{{>modals/deployment-modal}}

<div class="row">
    <div class="col-md-12 mb-2">

        <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#deploymentModal">
            New Deployment
        </button>
        <input id="bpmn-search-input" placeholder="BPMN process id" type="text" onkeyup="filterByBPMNId()" title="Type in a bpmnId" />
    </div>

    <div class="col-md-12">

        <span>{{count}} process definitions</span>

        <table id="process-list-table" class="table table-striped">
            <thead>
            <th>Process Definition Key</th>
            <th>BPMN process id</th>
            <th>Version</th>
            <th># active</th>
            <th># ended</th>
            <th>Deployment Time
                <a id="process-deployment-time" href="#" class="badge badge-secondary" data-toggle="tooltip" data-placement="top"
                   title="Sort by Deployment Time">
                    <svg class="bi" width="12" height="12" fill="white"><use xlink:href="/img/bootstrap-icons.svg#caret-up-fill"/></svg>
                </a>
            </th>
            </thead>

            {{#processes}}
            <tr>
                <td><a href="{{context-path}}views/processes/{{processDefinitionKey}}">{{processDefinitionKey}}</a></td>
                <td>{{bpmnProcessId}}</td>
                <td>{{version}}</td>
                <td>{{countRunning}}</td>
                <td>{{countEnded}}</td>
                <td>{{deploymentTime}}</td>
            </tr>
            {{/processes}}

        </table>

        {{>components/table-pagination}}

    </div>
</div>

{{>layout/footer}}

<script type="application/javascript">
    document.addEventListener('DOMContentLoaded', function(){
        listSort('timestamp','process-deployment-time')
    }, false);
</script>

<script type="application/javascript">
    function filterByBPMNId() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("bpmn-search-input");
        filter = input.value.toUpperCase();
        table = document.getElementById("process-list-table");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }

    }
</script>